.badge {
    display: inline-block;
    border: 1px solid #dddddd;
    padding: 0 4px;

    font-size: 11px;

    //height: 13px;
    height: 15px;
    line-height: 13px;

    text-transform: uppercase;
}