$button-padding: 7px 12px;

@if $theme == "hitchhiker" {
    $button-padding: 0 10px;
}

@mixin button {
    color: white;
    padding: $button-padding;
    cursor: pointer;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 6px;

    @if $theme == "hitchhiker" {
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
        border-radius: 2px;
        height: 28px;
        font-weight: 500;
        font-size: 11px;

        &:focus {
            outline: 1px solid #767676;
            box-shadow: 0 0 0 2px rgba(27, 127, 204, 0.4);
        }
    } @else {
        font-weight: 500;
        font-size: 11px;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        border-radius: 3px;
        margin: 2px 0;
    }
}

@mixin button-variant($state, $value) {
    color: contrast-color($value);

    @if $theme == "hitchhiker" {
        background: $value;

        @if $state == "default" {
            border: 1px solid darken($value, 15%);
        } @else {
            border: 1px solid $value;
        }
    } @else {
        background-color: lighten($value, 1.5%);
        background-image: linear-gradient(
            to bottom,
            lighten($value, 3.5%),
            darken($value, 2.5%)
        );
        border: 1px solid darken($value, 7.5%);
    }

    &:hover {
        @if $theme == "hitchhiker" {
            @if $state == "default" {
                background: darken($value, 3%);
                border: 1px solid darken($value, 20%);
            } @else {
                background: darken($value, 5%);
            }

            box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.10);
        } @else {
            background-color: lighten($value, 3.5%);
            background-image: linear-gradient(
                to bottom,
                lighten($value, 5%),
                darken($value, 1%)
            );
            border: 1px solid darken($value, 1%);
        }

        color: contrast-color($value);
    }

    &:active, &.toggled {
        $box-shadow-color: rgba(0, 0, 0, 0.5);

        @if $state == "default" {
            $box-shadow-color: #ddd;
        }

        @if $theme == "hitchhiker" {
            @if $state == "default" {
                background-color: darken($value, 6%);
                border: 1px solid darken($value, 20%);
            } @else {
                background-color: darken($value, 10%);
            }

            box-shadow: inset 0 1px 0 $box-shadow-color;
        } @else {
            border: 1px solid darken($value, 10%);
            background-color: lighten($value, 10%);
            background-image: linear-gradient(
                to bottom,
                darken($value, 7%),
                darken($value, 17%)
            );
        }

        color: contrast-color($value);
    }

    // TODO: toggled hover/active

    &-invis {
        border: 1px solid #0000;
        background: none;
        box-shadow: none;
        color: contrast-color($value);

        &:hover {
            @if $theme != "hitchhiker" {
                background-image: linear-gradient(
                    to bottom,
                    lighten($value, 8.5%),
                    lighten($value, 1.5%)
                );
                border: 1px solid darken($value, 1%);
            }
        }

        &:active {
            @if $theme != "hitchhiker" {
                background-image: linear-gradient(
                    to bottom,
                    lighten($value, 10.5%),
                    lighten($value, 5.5%)
                );
                border: 1px solid darken($value, 10%);
            }
        }
    }
}

a.button {
    text-decoration: none;
}

button {
    border: 0;
    background: transparent;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
}

.button {
    @include button;
}

input[type=file]::file-selector-button,
input[type=file]::-webkit-file-upload-button {
    @include button;
    @include button-variant("default", $secondary);
    margin-right: 8px;
}

.button-big {
    @if $theme == "hitchhiker" {
        height: 32px;
        padding: 0 15px;
        font-size: 13px;
    } @else {
        border-radius: 5px;
        padding: 8px 12px;
        font-size: 13px;
    }
}

.button-small {    
    @if $theme == "hitchhiker" {
        height: 24px;
        padding: 0 8px;
    } @else {
        height: 24px;
        border-radius: 2px;
        padding: 5px 13px;
        font-size: 11px;
    }
}

@each $state, $value in $button-colors {
    .button-#{$state} {
        @include button-variant($state, $value);
    }
}

$hitchhiker-follow-button-color: #e62117; // seperate from $accent
.button-follow {
    @if $theme == "hitchhiker" {
        @include button-variant("follow", $hitchhiker-follow-button-color);
        padding: 0 8px; //0 5.5px;
        font-size: 12px;
        font-weight: normal;
    } @else {
        @include button-variant("follow", $accent);
        font-size: 12px;
        font-weight: normal;
    }
}

#debug-button {
    color: $text-color;
    background: $card-bg;
    cursor: pointer;
    padding: 4px 8px;
    font-weight: 500;
    right: 0;
    bottom: 0;
    position: fixed;
    text-decoration: none;
    z-index: 10;
}