$button-padding: 6px 11px;

@if $theme == "hitchhiker" {
    $button-padding: 0 10px;
}

@mixin button {
    color: white;
    padding: $button-padding;
    cursor: pointer;

    display: inline-flex;
    align-items: center;
    gap: 6px;

    @if $theme == "hitchhiker" {
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
        border-radius: 2px;
        height: 28px;
        font-weight: 500;
        font-size: 11px;

        &:focus {
            outline: 1px solid #767676;
            box-shadow: 0 0 0 2px rgba(27, 127, 204, 0.4);
        }
    } @else {
        border-radius: 5px;
        margin: 2px 0;
    }
}

@mixin button-variant($state, $value) {
    color: contrast-color($value);

    @if $theme == "hitchhiker" {
        background: $value;

        @if $state == "secondary" {
            border: 1px solid darken($value, 15%);
        } @else {
            border: 1px solid $value;
        }
    } @else {
        background-color: lighten($value, 2.5%);
        @include gradient-y(
            $start-color: lighten($value, 2.5%),
            $end-color: $value
        );
        border: 1px solid darken($value, 7.5%);
    }

    &:hover {
        @if $theme == "hitchhiker" {
            @if $state == "secondary" {
                background: darken($value, 3%);
                border: 1px solid darken($value, 20%);
            } @else {
                background: darken($value, 5%);
            }

            box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.10);
        } @else {
            background-color: lighten($value, 8.5%);
            @include gradient-y(
                $start-color: lighten($value, 8.5%),
                $end-color: lighten($value, 1.5%)
            );
            border: 1px solid darken($value, 1%);
        }

        color: contrast-color($value);
    }

    &:active {
        $box-shadow-color: rgba(0, 0, 0, 0.5);

        @if $state == "secondary" {
            $box-shadow-color: #ddd;
        }

        @if $theme == "hitchhiker" {
            @if $state == "secondary" {
                background-color: darken($value, 6%);
                border: 1px solid darken($value, 20%);
            } @else {
                background-color: darken($value, 10%);
            }

            box-shadow: inset 0 1px 0 $box-shadow-color;
        } @else {
            border: 1px solid darken($value, 7.5%);
            background-color: lighten($value, 10.5%);
            @include gradient-y(
                $start-color: lighten($value, 10.5%),
                $end-color: lighten($value, 5.5%)
            );
        }

        color: contrast-color($value);
    }

    &-invis {
        border: 1px solid #0000;
        background: none;
        box-shadow: none;
        color: contrast-color($value);

        &:hover {
            @if $theme != "hitchhiker" {
                @include gradient-y(
                    $start-color: lighten($value, 8.5%),
                    $end-color: lighten($value, 1.5%)
                );
                border: 1px solid darken($value, 1%);
            }
        }

        &:active {
            @if $theme != "hitchhiker" {
                @include gradient-y(
                    $start-color: lighten($value, 10.5%),
                    $end-color: lighten($value, 5.5%)
                );
                border: 1px solid darken($value, 10%);
            }
        }
    }
}

a.button {
    text-decoration: none;
}

button {
    border: 0;
    background: transparent;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
}

.button {
    @include button;
}

$FUCK: #694206;

input[type=file]::file-selector-button {
    @include button;
    @include button-variant("secondary", $secondary);
    margin-right: 8px;
}

.button-big {
    @if $theme == "hitchhiker" {
        height: 32px;
        padding: 0 15px;
        font-size: 13px;
    } @else {
        border-radius: 7px;
        padding: 8px 12px;
        font-size: 17px;
    }
}

.button-small {
    @if $theme == "hitchhiker" {
        padding: 0 8px;
        height: 24px;
    } @else {
        border-radius: 2px;
        padding: 5px 13px;
        height: 26px;
        font-size: 11px;
    }
}

@each $state, $value in $theme-colors {
    .button-#{$state} {
        @include button-variant($state, $value);
    }
}

$hitchhiker-follow-button-color: #e62117; // seperate from $accent
.button-follow {
    @if $theme == "hitchhiker" {
        @include button-variant("follow", $hitchhiker-follow-button-color);
        padding: 0 8px; //0 5.5px;
        font-size: 12px;
        font-weight: normal;
    } @else {
        @include button-variant("follow", $accent);
        font-size: 12px;
        font-weight: normal;
    }
}

#debug-button {
    color: $text-color;
    background: $card-bg;
    cursor: pointer;
    padding: 4px 8px;
    font-weight: 500;
    right: 0;
    bottom: 0;
    position: fixed;
    text-decoration: none;
    z-index: 10;
}