.card {
    background: $card-bg;
    margin-bottom: 10px;

    @if $theme == "hitchhiker" {
        box-shadow: 0 1px 2px rgba(black, .1);
    }

    @else {
        border: 1px solid $card-border;
    }
}

.card-has-padding {
    padding: 15px;

    @if $theme == "hitchhiker" {

        h3.card-title,
        h4.card-title {
            margin: 0 5px 10px;
        }
    }

    @else {

        h3,
        h4 {
            margin: 0 0 10px;
        }
    }
}

.card-profiles {
    padding: 0.35em 0.5em 0;
}

// watch sidebar
.card-body-watch-sidebar {
    @if $theme == "hitchhiker" {
        //padding-left: 5px;
        padding-left: 10px;
    }
}

.card-has-padding:has(.button-expander) {
    padding-bottom: 0;
}

// markdown-based pages
.card-body-article {
    padding: 0 20px 20px 20px;

    font-size: 13px;
    line-height: 1.5;

    p {
        margin-bottom: 12px;
    }

    ul {
        padding: 0;
    }

    li {
        margin: 6px 0 6px 36px;
    }

    h1 {
        padding: 10px 20px;
        margin: 0 -20px 20px; // Ugly Hack !

        border-bottom: 1px solid $border;
    }
}