.comments-header {
    color: $header-text-color;
    text-transform: uppercase;
    margin-bottom: 17px;

    .title {
        font-weight: 500;
    }
}

#commentContents {
    margin-bottom: 10px;
    padding: 5px 10px;
}

.thread {
    margin-bottom: 30px;
}

.comment {
    display: flex;
    gap: 10px;
    line-height: 17px;

    &:last-child {
        border-bottom: none;
    }

    .comment-avatar {
        height: 48px;

        .profile-picture {
            width: 48px;
            height: 48px;
        }
    }

    .comment-body {
        width: 100%;

        .comment-header {
            display: flex;
            align-items: center;
            gap: 6px;

            .comment-author {
                font-weight: 500;

                &.owner {
                    background: #dbe4eb;
                }
            }

            .comment-timestamp {
                color: $comment-timestamp;
                font-size: 11px;
            }
        }

        .comment-contents {
            color: $description-text-color;
            margin: 1px 0 2px 0;

            p {
                margin: 0;
            }
        }

        .comment-actions {
            color: $header-text-color;
        }
    }
}

.replies {
    margin-left: 58px; // 48px (pfp) + 10px

    .replies {
        margin-left: 42px; // 32px (pfp) + 10px
    }

    .thread {
        margin: 12px 0;
    }

    .comment {
        padding: 0;
        
        .profile-picture {
            width: 32px;
            height: 32px;

            &:last-child {
                padding-bottom: 0;
            }
        }
    }
}

.new-comment,
.reply-form {
    margin-bottom: 5px;

    #comment_button,
    .submit-reply-button {
        margin-left: auto;
        display: block;
        padding: 5px 10px;
    }
}