.comments-header {
    color: $header-text-color;
    text-transform: uppercase;
    margin-bottom: 17px;

    .title {
        font-weight: 500;
    }
}

#commentContents {
    margin-bottom: 10px;
    padding: 5px 10px;
}

.comment {
    padding-bottom: 30px;
    display: flex;
    gap: 10px;

    &:last-child {
        border-bottom: none;
    }

    .profile-picture {
        width: 48px;
        height: 48px;
    }

    .comment-body {
        width: 100%;

        .comment-header {
            display: flex;
            align-items: center;
            gap: 6px;

            .comment-author {
                font-weight: 500;
            }

            .comment-timestamp {
                color: $comment-timestamp;
                font-size: 11px;
            }
        }

        .comment-contents {
            margin-top: 1px;

            p {
                margin: 0;
            }
        }
    }
}

.replies {
    margin-top: 12px;

    .comment {
        padding: 0;
        
        .profile-picture {
            width: 32px;
            height: 32px;

            &:last-child {
                padding-bottom: 0;
            }
        }
    }
}

.new-comment,
.reply-form {
    margin-bottom: 5px;

    #comment_button,
    .submit-reply-button {
        margin-left: auto;
        display: block;
        padding: 5px 10px;
    }
}