// the login/register pages need to be centered at every resolution.
.login-container {
    margin-right: auto;
    margin-left: auto;
}

.show-guide {
    #page {
        padding-left: 230px;
    }

    .footer {
        margin-left: 230px;
    }
}

#content {
    margin: 10px auto auto auto;

    @include responsive('tiny') {
        max-width: 438px;
    }

    @include responsive('small') {
        max-width: 438px;
    }

    @include responsive('medium') {
        max-width: 850px;
    }

    @include responsive('large') {
        max-width: 1262px;
    }
}

.container {
    width: 100%;
    max-width: 100%;
}

// view page uses different widths
#page.watch #content, #page.view #content {
    @include responsive('tiny') {
        max-width: 100%;
        min-width: 250px;
    }

    @include responsive('small') {
        max-width: 90%;
        min-width: 426px;
    }

    @include responsive('medium') {
        max-width: 1066px;
        min-width: 1003px;
    }

    @include responsive('large') {
        //max-width: 75%;
        //min-width: 1000px;
        max-width: 1280px;
    }
}

#page.user #content {
    margin: auto;
}