.container {
    margin-right: auto;
    margin-left: auto;
}

// the login/register pages need to be centered at every resolution.
.login-container {
    margin-right: auto;
    margin-left: auto;
}

.container-open-guide {
    margin-right: 230px;
}

// TODO: CONTENT SNAP WIDTH -chaziz 11/12/2025

.page-container {
    width: 100%;
    max-width: 100%;
    margin-top: 10px;

    @include responsive('tiny') {
        max-width: 438px;
    }

    @include responsive('small') {
        max-width: 438px;
    }

    // content snap width 2?
    @include responsive('medium') {
        max-width: 850px;
    }

    // content snap width 3?
    @include responsive('large') {
        max-width: 1262px;
    }
}

// view page uses different widths
.page-container.watch, .page-container.view {
    @include responsive('tiny') {
        max-width: 100%;
        min-width: 250px;
    }

    @include responsive('small') {
        max-width: 90%;
        min-width: 426px;
    }

    @include responsive('medium') {
        max-width: 1066px;
        min-width: 1003px;
    }

    @include responsive('large') {
        //max-width: 75%;
        //min-width: 1000px;
        max-width: 1280px;
    }
}