.container {
  margin-right: auto;
  margin-left: auto;
}

// the login/register pages need to be centered at every resolution.
.login-container {
  margin-right: auto;
  margin-left: auto;
}

.page-container {
  margin-top: 10px;

  @include maxwidths();
}