// unlike trinium, which uses content-box styling (finalium equivalent is card/card-body),
// we gotta style this shit Differently.
dialog {
    background: $card-bg;
    border: 1px solid $card-border;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.18);
    padding: 0;

    .dialog-header {
        padding: 15px 20px;
    }

    // crude as shit
    .tabs {
        padding: 0 20px;
        border-bottom: 1px solid $card-border;
    }

    // not every dialog had this
    .dialog-footer {
        display: flex;
        justify-content: end;
        gap: 8px;

        padding: 15px 20px;
        background: #f1f1f1;
    }
}

.debug-dialog {
    z-index: 50000;
    width: 800px;

    .card {
        overflow-y: scroll;
        max-height: 300px;
    }
    /*.tabcontent {
        //@include scrollbar();
        overflow-y: scroll;
        max-height: 400px;
    }*/
}

::backdrop {
    @if $theme =="hitchhiker" {
        background: white;
        opacity: 0.8;
    } @else {
        background: black;
        opacity: 0.6;
    }
}