.footer {
    padding: 0 30px;
    background-color: $footer-bg;
    border-top: 1px solid $footer-border;
}

.footer-container {
    padding: 15px 0;
    overflow: hidden;

    img {
        height: 30px;
        margin-left: 4px;
        margin-right: 14px;
    }

    hr {
        border-color: $footer-border;
    }

    .footer-main {
        display: flex;
        align-items: center;
        gap: 1em;
    }

    .footer-links {
        padding: 15px 0 15px 8px;

        .footer-links-primary,
        .footer-links-secondary {
            display: flex;
            gap: 1em;
        }

        .footer-links-primary a,
        .footer-links-secondary a {
            font-weight: 500;
        }

        .footer-links-primary {
            margin-bottom: 8px;

            a,
            span {
                color: #333;
            }
        }

        .footer-links-secondary {

            a,
            span {
                color: #666;
                font-size: 11px;
            }
        }

        .footer-profiler {
            margin-top: 0.5em;
            color: #666;
            font-size: 11px;
        }
    }
}