@function contrast-color($color) {
    $light-contrast: #ffffff;
    $dark-contrast: #000000;

    @if $theme == "hitchhiker" {
        $dark-contrast: #333333;
    }

    @if $theme == "dark" {
        @return if(lightness($color) > $threshold, $dark-contrast, $light-contrast);
    }

    @else {
        @return if(lightness($color) < $threshold, $light-contrast, $dark-contrast);
    }
}