#guide {
    display: none;
    position: fixed;
    left: 0;
    top: $header-height;
    bottom: 0;
    background: $guide-bg;
    border-top: 1px solid $guide-border;
    border-right: 1px solid $guide-border;
    z-index: 10000;
    overflow: hidden;

    @if $theme !="hitchhiker" {
        backdrop-filter: blur(4px);
    }

    &:hover {
        overflow-y: auto;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none
    }

    hr {
        margin: 8px 0;
    }

    @if $theme =="hitchhiker" {
        &.with-fullscreen-banner {
            top: $header-height + $fullscreen-banner-height;
        }
    }

    .guide-container {
        width: $guide-width;

        @if $theme =="hitchhiker" {
            padding: 13px 22px;
        } @else {
            padding: 1em;
        }
    }

    .header {
        color: $accent;
        margin: 0 5px;
        padding: 1px 0 8px;
        line-height: 13px;
        font-size: 11px;
        font-weight: 500;
        text-transform: uppercase;
    }
}
.guide-item {
    white-space: nowrap;
    display: flex;
    height: 28px;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5px;

    @if $theme == "hitchhiker" {
        color: #222222;
    } @else {
        color: #444;
    }

    .thumb {
        width: 20px;
        height: 20px;
        vertical-align: middle;

        @if $theme == "hitchhiker" {
            margin-left: 6px;
            margin-right: 10px;
            color: #878787;
        } @else {
            margin: 0 6px;
        }
    }

    &:hover {
        background: #444;
        color: #fff;

        text-decoration: none;

        .thumb {
            color: inherit;
        }
    }

    &.selected {
        background: $accent;
        color: #fff;
        font-weight: 500;
        
        @if $theme == "hitchhiker" {
            text-shadow: -1px -1px 0 rgba(0,0,0,0.25);
        }

        .thumb {
            color: inherit;
        }
    }
}