$masthead-user-pfp: 27px;

.masthead-user {
    width: $masthead-user-pfp;
    height: $masthead-user-pfp;
    direction: rtl;
}

#masthead-below {
    display: none;
}

.user-menu-button {
    &:hover {
        cursor: pointer;
    }
}

#header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @if $theme !="hitchhiker" {
        gap: 1em;
    }
}

#header-user {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-left: auto;
    text-align: right;

    @if $theme == "hitchhiker" {
        gap: 20px;
    } @else {
        gap: 1em;

        a {
            color: black;
        }
    }
}

#masthead-container {
    z-index: 10000;
    margin: 0;
    position: sticky;
    display: block;
    top: 0;
    background-color: $masthead-bg;
    border-bottom: 1px solid $masthead-border;

    @if $theme !="hitchhiker" {
        backdrop-filter: blur(4px);
    }

    padding-left: 30px;
    padding-right: 30px;
    //padding-top: 8px;
    //padding-bottom: 7px;

    &.with-fullscreen-banner {
        top: 35px;
    }
}

#masthead {
    display: flex;
    align-items: center;

    width: 100%;
    max-width: 100%;

    position: relative;
    margin: auto;
    height: $header-height;
    font-size: 13px;

    @if $theme =="hitchhiker" {
        #guide-toggle.masthead-button {
            color: #B8B8B8;
        }

        &:hover {
            #guide-toggle.masthead-button {
                color: #666666;
            }
        }
    }

    #logo-container {
        position: relative;
        display: flex;

        @if $theme =="hitchhiker" {
            width: 200px;
            height: 30px;
        }

        @else {
            height: 30px;
        }

        a {
            display: block;
            text-decoration: none;
        }

        @if $theme =="hitchhiker" {
            .content-region {
                position: relative;
                bottom: 19px;
                right: 1px;
                color: #767676;
                font-size: 11px;
                text-decoration: none;
                font-weight: normal;
            }
        }
    }

    #logo {
        height: 30px;
        border: 0;
        @if $theme =="hitchhiker" {
            margin-right: 2px;
        }
    }

    // kinda hacky
    .masthead-button {
        @if $theme =="hitchhiker" {
            width: 30px;
            height: 30px;
            color: #7F7F7F;
        }

        @else {
            width: 32px;
            height: 32px;
        }

        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* this sucks */
#guide-toggle {
    width: 38px !important;
    height: 30px !important;
    margin-left: -7px;
}

#masthead-search {
    display: flex;
    overflow: hidden;

    align-items: center;

    @if $theme =="hitchhiker" {
        position: relative;
        padding: 0;
        margin-bottom: 1px;
    }

    @else {
        padding: 3px;
    }

    label {
        height: 100%;
        line-height: 30px;
        padding: 0;
        border: none;
        overflow: hidden;
    }

    #search-btn {
        height: $masthead-search-bar-height;

        @if $theme =="hitchhiker" {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            padding: 0 25px;
            color: #969696;

            &:hover,
            &:focus {
                color: #555555;
            }
        }

        @else {
            border-radius: 0 3px 3px 0;
        }
    }

    #masthead-search-terms {
        border-radius: 0;
        height: $masthead-search-bar-height;

        overflow: hidden;

        // TODO: on hitchhiker, the way responsiveness was originally implemented on the header is Very Different
        // from the rest of the site.
        //
        // https://web.archive.org/web/20160610004740/https://www.youtube.com/
        // -chaziz 5/7/2025
        @include responsive('tiny') {
            width: 120px;
        }

        @include responsive('small') {
            width: 200px;
        }

        @include responsive('medium') {
            width: 560px;
        }

        @include responsive('large') {
            width: 583px;
        }

        input {
            display: inline-block;
            width: 100%;
            padding: 2px 6px;
            margin: 0;
            font-size: 16px;
            box-sizing: border-box;
            height: $masthead-search-bar-height;

            @if $theme !="hitchhiker" {
                border: 1px solid $form-input-border;
                background-color: $form-input;
                color: $text-color;
                border-radius: 3px 0 0 3px;
            }

            border-right: none;
        }
    }
}

.subheader {
    background: #535353;
    padding-left: 45px;
    height: 40px;
    display: flex;
    align-items: center;

    .subheader-link {
        color: #fff;
        font-weight: 500;
        line-height: 40px;
        padding: 0 25px;

        &:hover {
            background: #666;
            text-decoration: none;
        }

        &:active, &.selected {
            background: #343434;
            text-decoration: none;
        }
    }
}