$masthead-user-pfp: 27px;

.masthead-user {
    width: $masthead-user-pfp;
    height: $masthead-user-pfp;
    direction: rtl;
}

#masthead-below {
    display: none;
}

.guide-channels-list {
    clear: both;
    max-height: 247px;
    padding: 0 0 3px;
    overflow: hidden;

    .guide-channel {
        position: relative;
        height: 26px;
        line-height: 26px;
    }
}

.guide-item {
    white-space: nowrap;
    display: flex;
    height: 28px;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5px;

    color: #444;

    .thumb {
        margin-left: 9px - 5px; // temporary
        margin-right: 6px;
        width: 20px;
        height: 20px;
        vertical-align: middle;
    }

    &:hover {
        background: #444;
        color: #fff;

        text-decoration: none;
    }

    &.selected {
        background: $accent;
        color: #fff;
        font-weight: bold;
    }
}

.user-menu-button {
    &:hover {
        cursor: pointer;
    }
}

#guide {
    position: fixed;
    left: 0;
    top: $header-height;
    bottom: 0;
    width: $guide-width;
    background: $guide-bg;
    border-right: 1px solid $guide-border;
    z-index: 9999999999;
    display: none;
    overflow-y: scroll;

    @if $theme =="hitchhiker" {
        padding: 13px 22px;
    } @else {
        padding: 1em;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none
    }

    @if $theme =="hitchhiker" {
        &.with-fullscreen-banner {
            top: $header-height + $fullscreen-banner-height;
        }
    }
}

#header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @if $theme !="hitchhiker" {
        gap: 1em;
    }
}

#header-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    margin-left: auto;
    text-align: right;

    @if $theme !="hitchhiker" {
        a {
            color: black;
        }
    }
}

#masthead-container {
    z-index: 10000;
    margin: 0;
    position: sticky;
    display: block;
    top: 0;
    background-color: $masthead-bg;
    border-bottom: 1px solid $masthead-border;

    @if $theme !="hitchhiker" {
        backdrop-filter: blur(4px);
    }

    padding-left: 30px;
    padding-right: 30px;

    &.with-fullscreen-banner {
        top: 35px;
    }
}

#masthead {
    display: flex;
    align-items: center;

    width: 100%;
    max-width: 100%;

    position: relative;
    margin: auto;
    height: $header-height;
    font-size: 13px;

    @if $theme =="hitchhiker" {
        &:hover {
            .masthead-button {
                color: #666666;
            }
        }
    }

    #logo-container {
        display: flex;

        @if $theme =="hitchhiker" {
            width: 200px;
            height: 30px;
        }

        @else {
            height: 30px;
        }

        a {
            display: block;
        }
    }

    #logo {
        height: 30px;
        border: 0;
    }

    // kinda hacky
    .masthead-button {
        @if $theme =="hitchhiker" {
            width: 30px;
            height: 30px;
            color: #B8B8B8;
        }

        @else {
            width: 32px;
            height: 32px;
        }

        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* this sucks */
#guide-toggle {
    width: 38px !important;
    height: 30px !important;
    margin-left: -7px;
}

#masthead-search {
    display: flex;
    overflow: hidden;

    align-items: center;

    @if $theme =="hitchhiker" {
        position: relative;
        padding: 0;
        margin-bottom: 1px;
    }

    @else {
        padding: 3px;
    }

    label {
        height: 100%;
        line-height: 30px;
        padding: 0;
        border: none;
        overflow: hidden;
    }

    #search-btn {
        height: $masthead-search-bar-height;

        @if $theme =="hitchhiker" {
            padding: 0;
            color: #a0a0a0;

            &:hover,
            &:focus {
                color: #666666;
            }

            span {
                margin: 0 25px;
            }
        }

        @else {
            border-radius: 0 3px 3px 0;
        }
    }

    #masthead-search-terms {
        border-radius: 0;
        height: $masthead-search-bar-height;

        overflow: hidden;

        // TODO: on hitchhiker, the way responsiveness was originally implemented on the header is Very Different
        // from the rest of the site.
        //
        // https://web.archive.org/web/20160610004740/https://www.youtube.com/
        // -chaziz 5/7/2025
        @include responsive('tiny') {
            width: 120px;
        }

        @include responsive('small') {
            width: 200px;
        }

        @include responsive('medium') {
            width: 560px;
        }

        @include responsive('large') {
            width: 583px;
        }

        input {
            display: inline-block;
            width: 100%;
            padding: 2px 6px;
            margin: 0;
            font-size: 16px;
            box-sizing: border-box;
            height: $masthead-search-bar-height;

            border-right: none;

            @if $theme !="hitchhiker" {
                border: 1px solid $form-input-border;
                background-color: $form-input;
                color: $text-color;
                border-radius: 3px 0 0 3px;
            }
        }
    }
}