/* icons! */
.icon, .bi {
    display: inline-block;
    color: currentColor;
}

.sprite {
    display: inline-block;
}

.spinner-img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    // not gonna fuck with lottie or some other bullshit so just use a gif
    background: url("/assets/skin/finalium/loading.gif") no-repeat center;
    image-rendering: pixelated;
}