/* icons! */
.icon, .bi {
    display: inline-block;
    color: currentColor;
}

.sprite {
    display: inline-block;
}

.spinner-img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    // not gonna fuck with lottie or some other bullshit so just use a gif
    background: url("/assets/skin/finalium/loading.gif") no-repeat center;
    image-rendering: pixelated;
}

// awkward hack
.userlink-icon {
    display: inline-block;

    @if $theme == "hitchhiker" {
        width: 12px;
        height: 9px;
        color: #B7B7B7;

        &:hover {
            color: #12A5E6;
        }
    }

    .icon {
        display: block;
    }
}