/// Functions \\\
@import "_functions";
/// Responsiveness \\\
@import "_responsiveness";
/// Normalize \\\
@import "_normalize";

@if $theme != "hitchhiker" {
    // roboto variable
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
}

@if $theme == "hitchhiker" {
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');
}

$header-height: 48px;
$masthead-search-bar-height: 31px;
$guide-width: 230px;

@if $theme =="hitchhiker" {
    $header-height: 49px;
    $masthead-search-bar-height: 29px;
}

/* SB CSS STARTS HERE ======================================================== */

html {
    height: 100%;
}

@import "_grid_system";

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

@if $theme =="hitchhiker" {

    strong,
    b {
        font-weight: 500;
    }

    h1,
    h2 {
        font-weight: normal
    }

    h3,
    h4,
    h5,
    h6 {
        font-weight: 500
    }
}

@else {

    h1,
    h2,
    h3 {
        font-weight: 400;
    }

    h4,
    h5,
    h6 {
        font-weight: 300;
    }
}

h1 {
    font-size: 20px
}

h2 {
    font-size: 16px
}

h3,
h4 {
    font-size: 13px
}

h5,
h6 {
    font-size: 10px
}

hr {
    border: 0;
    border-bottom: 1px solid $border;
    height: 0;
    margin: 10px 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    color: $primary;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: underline;
    }

    /*&:focus {
        outline: 1px dotted;
    }*/
}

menu {
    list-style: none;
}

code {
    color: #a33a3a;
    background-color: #ffe8e8;
    border: 1px solid #eed1d1;
    border-radius: 4px;
    padding: 2px 4px;
}

pre {
    color: #a33a3a;
    background-color: #ffe8e8;
    border: 1px solid #eed1d1;
    border-radius: 4px;
    padding: 0.5rem;
    margin: 0;
    overflow-x: auto;
    line-height: 1.5;
    white-space: pre-wrap;
}

blockquote {
    margin: 0 0 0.5em 0;
    padding-left: 0.8em;
    border-left: 4px solid $border;
}

.t_user {
    color: #0000aa;
    font-weight: bold;
}

.dl {
    border-collapse: collapse;

    td {
        border: 1px solid black;
        padding: 7px;
    }
}

.noborder {
    border: 0;
}

.center {
    text-align: center;
}

// Pagination \\
.pagination {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

/// Generic text aligns \\\

.left {
    text-align: left;

    &:dir(rtl) {
        text-align: right;
    }
}

.center {
    text-align: center;
}

.right {
    text-align: right;

    &:dir(rtl) {
        text-align: left;
    }
}

.float-left {
    float: left;

    &:dir(rtl) {
        float: right;
    }
}

.float-right {
    float: right;

    &:dir(rtl) {
        float: left;
    }
}

.clear_right {
    clear: right;

    &:dir(rtl) {
        clear: left;
    }
}

.jumbotron {
    background: #3e3e3e;
    background: linear-gradient(90deg, rgb(62, 62, 62) 0%, rgb(107, 107, 107) 35%, rgb(155, 155, 155) 100%);
    background-size: cover;

    color: white;
    margin: -49px 0 0;
    padding-top: 49px;

    display: flex;
    align-content: center;

    width: 100%;
    height: 190px;

    .profile-picture {
        width: 100px;
    }

    .container {
        margin: auto;
        display: flex;
        min-height: auto;
        @include maxwidths();

        h1, h2, h3, h4, h5, h6, p {
            padding: 0;
            margin: 0;
        }

        h1 {
            font-size: 26px;
            margin-bottom: 8px;
        }

        h3 {
            font-size: 15.21px;
        }

        .stats {
            font-size: 1.25em;
            text-align: right;
        }

        &.logged-in {
            .jumbotron-left {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1em;
                flex-grow: 1;
            }

            .jumbotron-right {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }
        }

        &.logged-out {
            align-items: center;

            .jumbotron-left {
                display: flex;
                flex-grow: 1;
                flex-direction: column;
            }

            .jumbotron-right {
                display: flex;
                flex-direction: column;
            }
        }
    }
}

.form-long {
    width: 100%;
    box-sizing: border-box;
}

.uploader-form {
    margin-bottom: 0.5em;
    font-size: 1.05em;
    padding: 0.33em;
}

.search-form {
    margin-bottom: 0.5em;
    font-size: 1.05em;
    padding: 0.25em;
    height: 100%;
}

.ti {
    display: inline-block;
    margin-top: -0.25em;
    vertical-align: middle;
}

#commentContents {
    width: 100%;
    box-sizing: border-box;
}

.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.comment {
    p {
        width: 100%;
        margin: 0;
    }

    /*
  img {
    width: 100%;
  }
  */
}

#optionsModal,
#debugModal {
    display: none;
}

.user-action-container {
    a {
        text-decoration: none;
    }
}

.small-stats {
    div {
        display: inline-block;
        margin-right: 1em;
    }
}

#player-container {
    background-color: black;
    color: white;
    width: 100%;
    margin: 0;
}

body {
    background: $body-bg;
    color: $text-color;
    font-family: $font;
    padding:0;
    margin: 0;
    width: 100%;
    font-size: 13px;

    @if $theme =="hitchhiker" {
        // in the actual hitchhiker css its initially defined as 12px but then gets redefined as 13px.
        //font-size: 12px;
        line-height: normal;
    }

    @else {
        line-height: 1.4;
    }
}

#page {
    padding-bottom: 195px;
}

textarea,
input[type]:not([type=file]):not([type=submit]):not([type=range]) {
    @if $theme =="hitchhiker" {
        background-color: #ffffff;
        border: 1px solid #cccccc;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }

    @else {
        border: 1px solid $form-input-border;
        background: $form-input;
        border-radius: 4px;
        box-shadow: 0 0 1px $form-input-border;
    }

    transition: border linear 0.3s,
    box-shadow linear 0.3s;
}

textarea:focus,
input[type]:not([type=file]):not([type=submit]):not([type=range]):focus {
    @if $theme !="hitchhiker" {
        border-color: $primary;
        box-shadow: 0 0 5px $primary;
    }

    outline: 0;
}

.emoji {
    display: inline;
    width: 24px;
    vertical-align: middle;
}

.journal {
    margin-bottom: 1em;

    @if $theme =="hitchhiker" {
        margin-left: 5px;
    }
}

ul.unstyled-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

/// Tables \\\
@import "_tables";
/// Containers \\\
@import "_containers";
/// Images \\\
@import "_images";
/// Cards \\\
@import "_cards";
/// Buttons \\\
@import "_buttons";
/// Navs \\\
@import "_navs";
/// Banners \\\
@import "_banners";
/// Tabs \\\
@import "_tabs";
/// Header \\\
@import "_header";
/// Guide \\\
@import "_guide";
/// Footer \\\
@import "_footer";
/// Comments \\\
@import "_comments";
/// Badges \\\
@import "_badges";
/// Menus \\\
@import "_menus";
/// Tooltips \\\
@import "_tooltips";
/// Dialogs \\\
@import "_dialogs";
/// SPF Progress Bar \\\
@import "_spf_progress_bar";
/// Icons \\\
@import "_icons";

/// Watch page \\\
@import "_watch_page";
/// Upload lists \\\
@import "_upload_list";
/// Login page \\\
@import "_login_page";
/// Members page \\\
@import "_members_page";
/// Profile page \\\
@import "_profile";