/// Functions \\\
@import "_functions";
/// Responsiveness \\\
@import "_responsiveness";
/// Normalize \\\
@import "_normalize";

// misc stuff
@if $theme == "spring" {
  @import url('https://rsms.me/inter/inter.css');
} @else {
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
}

$header-height: 48px;
$masthead-search-bar-height: 31px;
$guide-width: 17.5em;

@if $theme == "hitchhiker" {
  $header-height: 50px;
  $masthead-search-bar-height: 31px;
  $guide-width: 230px;
}

/* SB CSS STARTS HERE ======================================================== */

html {
  height: 100%;
}

@import "_clearfix";
@import "_grid_system";

.bi {
  display: inline-block;
  margin-top: -0.2em;
  vertical-align: middle;
}

h1, h2, h3 {
  @if $theme == "spring" {
    font-weight: 450;
  } @else {
    font-weight: 400;
  }
}

h4, h5, h6 {
  @if $theme == "spring" {
    font-weight: 400;
  } @else {
    font-weight: 300;
  }
}

hr {
  border: 0;
  border-bottom: 1px solid $gray-200;
  height: 0;
  margin: 10px 0;
}

.clearfix {
  @include clearfix;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a:link,
a:visited {
  @if $theme == "hitchhiker" {
    color: $teal;
  } @else {
    color: $primary;
  }
  text-decoration: none;
  word-break: break-all;
}

a:hover {
  text-decoration-line: underline;
}

menu {
  list-style: none;
}

code {
  color: #e83e3e;
}

pre {
  background-color: #ffe8e8;
  border: 1px solid #eed1d1;
  border-radius: 5px;
  padding: 10px;
  margin: 0;
  overflow-x: auto;
  line-height: 1.5;
  white-space: pre-wrap;
}

blockquote {
  margin: 0 0 0.5em 0;
  padding-left: 0.8em;
  border-left: 4px solid $gray-400;
}

.t_user {
  color: #0000aa;
  font-weight: bold;
}

.dl {
  border-collapse: collapse;

  td {
    border: 1px solid black;
    padding: 7px;
  }
}

.noborder {
  border: 0;
}

.center {
  text-align: center;
}

// Pagination \\
.pagination {
  margin-top: 1em;
  font-size: 14pt;
  font-weight: bold;

  span {
    margin-left: 13px;
    display: inline-block;
  }
}

/// Generic text aligns \\\

.left {
  text-align: left;
  &:dir(rtl) {
    text-align: right;
  }
}

.center {
  text-align: center;
}

.right {
  text-align: right;
  &:dir(rtl) {
    text-align: left;
  }
}

.float-left {
  float: left;
  &:dir(rtl) {
    float: right;
  }
}

.float-right {
  float: right;
  &:dir(rtl) {
    float: left;
  }
}

.clear_right {
  clear: right;
  &:dir(rtl) {
    clear: left;
  }
}

.main-content {
  @if $theme == "spring" {
    background: rgb(0,26,36);
    background: linear-gradient(90deg, rgba(0,26,36,1) 0%, rgba(9,79,121,1) 35%, rgba(21,105,129,1) 100%);

    .sb-welcome {
      text-align: center;
      h1 {
        font-weight:600;
        font-size: 2.5em;
        margin: 8px 0;
      }
    }
  } @else if $theme == "hitchhiker" {
    background-color:#ff9900;
    background: linear-gradient(to bottom, #ffc578 0%,#fb9d23 100%);
  } @else {
    background: #3e3e3e;
    background: linear-gradient(90deg, rgb(62, 62, 62) 0%, rgb(107, 107, 107) 35%, rgb(155, 155, 155) 100%);
  }

  color: white;
  margin: -48px 0 0;
  padding: 75px 0 20px;
  display: inline-block;
  width: 100%;
  .page-container {
    min-height: auto;
    h1, h2, h3, h4, h5, h6, p {
      padding: 0;
      margin: 8px 0;
    }
    .stats {
      font-size: 1.5em;
    }
  }
}

.login-body {
  background: #2B3644 url(/assets/sb_branding/finalium/droplets.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  height: 100%;
}

.loginPage {
  .form-login {
    padding: 19px 29px 29px;
    @if $theme == "hitchhiker" {
      margin: 0 auto 20px;
    } @else {
      margin: 0 auto 10px;
    }

    background-color: $card-bg;
    border: 1px solid $gray-300; /* not exactly #e5e5e5 but i dont care */

    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    @if $theme == "hitchhiker" {
      width: 250px // less wider in the hitchhiker
    } @else {
      width: 300px;
    }
  }

  .login-footer {
    text-align: center;
    color: white;
  }
}

.form-login {
  input[type="text"],
  input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
    width: 100%;
    box-sizing: border-box;
  }
}

.form-long {
  width: 100%;
  box-sizing: border-box;
}

.uploader-form {
  margin-bottom: 0.5em;
  font-size: 1.05em;
  padding: 0.33em;
}

.search-form {
  margin-bottom: 0.5em;
  font-size: 1.05em;
  padding: 0.25em;
  height: 100%;
}

.ti {
  display: inline-block;
  margin-top: -0.25em;
  vertical-align: middle;
}

#commentContents {
  width: 100%;
  box-sizing: border-box;
}

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.comment {
  p {
    width: 100%;
    margin: 0;
  }

  /*
  img {
    width: 100%;
  }
  */
}

#optionsModal, #debugModal {
  display: none;
}

.user-action-container {
  a {
    text-decoration: none;
  }
}

.small-stats {
  div {
    display: inline-block;
    margin-right: 1em;
  }
}

.commentPost {
  margin-bottom: 17.5px;
  .commentAuthor {
    .commentDisplayName {
      color: $gray-600;
      font-size: .9em;
    }

    .time {
      font-size: .9em;
    }
  }
}

#player-container {
  background-color: black;
  color: white;
  width: 100%;
  margin: 0;
}

// new navs

ul.nav {
  margin: 0;
  padding: 1.25em 0;
  .title {
    color: $gray-600;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
  }
  li { padding: 6px 15px;; }
  li.active { background: $primary; a { color: white; } }
}

.watch-creator {
  display: flex;
  gap: 8px;
}

body {
  background: $body-bg;
  color: $text-color;
  font-family: $font;
  margin: auto;
  width: 100%;

  @if $theme == "hitchhiker" {
    font-size: 12px;
    line-height: normal;
  } @else {
    font-size: 13px;
    line-height: 1.4;
  }
}

// move this
.footer {
  background-color: $footer-bg;
  border-bottom: 1px solid $footer-border;
  border-top: 1px solid $footer-border;
  padding: 2em 3em;

  margin-top: 0;
  overflow: hidden;

  img {
    width: 135px;
  }

  hr {
    border-color: $footer-border;
  }

  .footer-main {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  .footer-links {
    padding: 1em 0.5em;
    .footer-links-primary, .footer-links-secondary {
      display: flex;
      gap: 1em;
    }

    .footer-links-primary a, .footer-links-secondary a {
      font-weight: 500;
    }

    .footer-links-primary {
      margin-bottom: 0.5em;
      a, span {
        color: #333;
      }
    }

    .footer-links-secondary {
      a, span {
        color: #666;
        font-size: 11px;
      }
    }
  }
}

.profiler {
  background-color: rgba($gray-100,0.5);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px;
  text-align: center;
  backdrop-filter: blur(50px);
}
//

.settings {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;

  .a {
    text-align: center;
    width: 250px;
  }

  td, th {
    border-bottom: 1px solid $gray-300;
    padding: 10px 5px;
  }

  tr th {
    background-color: $gray-100;
    font-size: 12pt;
  }

  tr {
    &:nth-child(odd)  { background-color: $gray-200; }
    &:nth-child(even) { background-color: $gray-300; }
  }

  .fotnot {
    margin-top: 8px;
    font-size: 10.5pt;
  }
}

textarea,
input[type]:not([type=file]):not([type=submit]):not([type=range]) {
  @if $theme == "hitchhiker" {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  } @else {
    border: 1px solid $gray-400;
    background: $form-input;
    border-radius: 4px;
    box-shadow: 0 0 1px $gray-400;
  }
  transition: border linear 0.3s, box-shadow linear 0.3s;
}

textarea:focus,
input[type]:not([type=file]):not([type=submit]):not([type=range]):focus {
  @if $theme == "hitchhiker" {
    border-color: rgba(82, 168, 236, 0.8) !important; // gonna override for some fuckass reason
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  } @else {
    border-color: $primary;
    box-shadow: 0 0 5px $primary;
  }
  outline: 0;
}

.subscribe-count {
  padding: 0 6px;
  border: 1px solid #ccc;
  color: $gray-600;
  font-size: 12px;
  text-align: center;
  line-height: 24px;
  display: inline-block;
}

/// "Likesaber" for watch page \\\
.likesaber {
  width: 160px;
  height: 2px;
  background-color: $likesaber-gray;
  float: right;

  .like {
    float: left;
    height: 2px;
    background-color: $primary;
  }
}

#About {
  line-height: 17px;

  p {
    margin: 0;
  }

  .description-extra {
    margin: 10px 0;

    li {
      clear: both;
      margin-bottom: 5px;
      line-height: 1.2;
    }

    .title {
      float: left;
      margin: 0 10px 0 0;
      width: 80px;
      text-align: right;
      font-size: 11px;
      color: $gray-800;
      font-weight: bold;
    }

    .content {
      color: $gray-600;
      font-size: 11px;
    }
  }
}

.vid-info {
  .title {
    max-height: 2.4em;
    line-height: 1.2;
    display: block;
    margin: 0 0 2px;
    overflow: hidden;

    @if $theme == "hitchhiker" {
      font-size: 13px;

      a {
        color: #333;
      }
      a:hover {
        color: #438bc5;
      }
    } @else {
      font-size: 14px;

      a {
        color: $gray-800;
      }

      a:hover {
        color: $primary;
      }
    }
  }

  .stat {
    @if $theme == "hitchhiker" {
      color: #999;
    } @else {
      color: $gray-600;
    }
    font-size: 11px;
    display: block;
    line-height: 1.4em;
    height: 1.4em;
  }

  .stat-larger {
    @if $theme == "hitchhiker" {
      color: #999;
    } @else {
      color: $gray-600;
    }
    font-size: 13px;
    display: block;
    line-height: 1.4em;
    height: 1.4em;
  }
}

.menu {
  position: absolute;
  top: 100%;
  max-height: 80vh;
  z-index: 1000;
  width: 160px;
  overflow: hidden;
  right: 0px;
  text-align: left;

  @if $theme == "hitchhiker" {
    background: #ffffff;
    padding: 0.25em;
  } @else {
    background: $gray-100;
  }

  ul {
    li {
      @if $theme == "hitchhiker" {
        padding: 4px 0;
      } @else {
        padding: 6px 0;
      }

      a {
        color: $text-color !important;
        width: 100%;
        display: block;
        padding: 0 10px !important;
      }
    }

    @if $theme != "hitchhiker" {
      li:hover {
        background-color: $primary;
      }
    }
  }
}

.watchNext {
  h1 {
    font-size: 19px;
  }

  .viewcount {
    @if $theme == "hitchhiker" {
      color: $gray-850;
    } @else {
      color: $gray-800;
    }
    font-weight: normal;
    margin-bottom: 4px;
  }

  .below-likesaber {
    margin-top: 16px;
    color: $gray-600;
  }
}

.statbox {
  text-align: center;
  font-size: 3em;
  border: 1px solid $gray-200;
  padding: 0.5em;
  background-color: $gray-100;

  .stat-title {
    font-size: 0.5em;
    font-weight: semibold;
  }
}

.emoji {
  display: inline;
  width: 24px;
  vertical-align: middle;
}

/// Gradients \\\
@import "_gradients";
/// Backgrounds \\\
@import "_backgrounds";
/// Forums \\\
@import "_style_forums";
/// Containers \\\
@import "_containers";
/// Images \\\
@import "_images";
/// Cards \\\
@import "_cards";
/// Buttons \\\
@import "_buttons";

// Navs have been removed 4/25/2023 -chaziz

/// Banners \\\
@import "_banners";
/// Text \\\
@import "_text";
/// Tabs \\\
@import "_tabs";

@import "_header";
@import "_comments";
@import "_version_page_backport";
