.menu {
    display: none;
    position: absolute;
    background: $card-bg;

    padding: 10px 0;

    @if $theme =="hitchhiker" {
        box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
        border: $form-input-border;
    }

    @else {
        border: 1px solid $card-border;
    }

    min-width: 100px;
    z-index: 1999;
    font-weight: normal;

    // hardcode text alignment and direction to left for header menus
    text-align: left;
    direction: ltr;

    hr {
        border-color: $border;
        margin: 0;
    }

    .menu-item-button {
        direction: ltr;
        display: flex;
        align-items: center;
        text-align: left;
        height: 26px;
        padding: 0 15px;
        color: $description-text-color;

        @if $theme =="hitchhiker" {
            gap: 13.2px; // on actual hitchhiker: 10px with whitespace element
        } @else {
            gap: 10px;
        }

        span {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &.small {
            font-size: 12px;
        }

        &:hover {
            background: #eeeeee;
            color: $text-color;
            text-decoration: none;
            cursor: pointer;
        }

        &:active {
            background: #eeeeee;
            color: $text-color;
            text-decoration: none;
            cursor: pointer;
        }
    }
}

.menu-button {
    .menu-caret-container {
        display: inline;
    }
}

.menu-upload-edit {
    direction: rtl;
    width: 150px;
}

#user-menu {
    width: 270px;
    top: 50px;
    right: -5px;
    position: absolute;
    display: none;

    // hardcode text alignment and direction to left for header menus
    text-align: left;
    direction: ltr;

    background: $menu-bg;
    border: 1px solid $menu-border;
    box-shadow: 0 0 15px rgba(black, .18);

    .header {
        padding: 10px 15px;
    }

    .body {
        display: flex;
        gap: 10px;
        padding: 15px;

        .profile-picture {
            width: 64px;
            height: 64px;
        }

        .info {
            .name {
                font-weight: 500;
                margin-bottom: 1px;
            }

            .followers {
                color: $lightest-gray;
            }
        }
    }

    .user-menu-footer {
        padding: 10px 15px;
        background: #f5f5f5;
        border-top: 1px solid rgba(0,0,0,0.1);
        text-align: right;
    }
}