// new navs

ul.nav {
    list-style: none;

    margin: 0;
    padding: 1.25em 0;

    .title {
        color: $emphasis-text-color;
        text-transform: uppercase;
        font-weight: 500;

        @if $theme == "hitchhiker" {
            padding: 6px 15px;
            font-size: 13px;
        } @else {
            font-size: 11px;
        }
    }

    li {
        @if $theme == "hitchhiker" {
            padding: 13px 15px;
            font-size: 11px;
            text-transform: uppercase;
            font-weight: 500;
        } @else {
            padding: 6px 15px;
        }

        a {
            color: $emphasis-text-color;
        }
    }

    li.active {
        @if $theme == "hitchhiker" {
            a {
                color: $accent;
            }
        } @else {
            background: $accent;

            a {
                color: white;
            }
        }
    }
}