// new navs

$nav-padding: 6px 15px;

@if $theme == "hitchhiker" {
    $nav-padding: 0px 14px;
}

ul.nav {
    list-style: none;
    margin: 0;
    padding: 15px 0;

    .title {
        padding: $nav-padding;
        text-transform: uppercase;
        font-weight: 500;

        @if $theme == "hitchhiker" {
            color: $emphasis-text-color;
            font-size: 13px;
            margin-bottom: 6px;
        } @else {
            color: $lightest-gray;
            font-size: 11px;
        }
    }

    li {
        @if $theme == "hitchhiker" {
            font-size: 11px;
        }

        a {
            display: block;
            text-decoration: none;
            padding: $nav-padding;

            @if $theme == "hitchhiker" {
                line-height: 24px;
                color: $emphasis-text-color;
            }
        }

        &:hover:not(.active):has(a) {
            @if $theme == "hitchhiker" {
                background: #f6f6f6;
            } @else {
                background: #eeeeee
            }
        }

        &.active {
            background: $accent;

            a {
                color: white;
            }
        }
    }
}