.channel-header-profile-picture {
    margin-left: 15px;
    width: 100px;
    height: 100px;

    @if $theme =="hitchhiker" {
        box-shadow: 0 1px 1px rgba(0, 0, 0, .4);
    }
}

// slightly ugly but i dont care
.card.channel-header {
    .card-body {
        padding-bottom: 0;

        h1 {
            color: $description-text-color;
            font-weight: 500;
        }
    }
}

.channel-header-primary {
    @if $theme =="hitchhiker" {
        height: 33px;
    }

    margin-bottom: 10px;

    .channel-header-name {
        display: flex;
        align-items: center;
        gap: 0.5em;

        .channel-header-handle {
            color: $light-text-color;
        }
    }
}

.channel-header-secondary {
    display: flex;
    gap: 20px;
}