@function min-width-for($size) {
    $width: map-get($breakpoints, $size);
    @return '(min-width: #{$width})';
}

@mixin responsive($size) {
    @media #{min-width-for($size)} {
        @content;
    }
}

@mixin maxwidths() {
    width: 100%;
    max-width: 100%;
    
    @include responsive('tiny') {
        max-width: 100%;
        min-width: 250px;
    }

    @include responsive('small') {
        max-width: 90%;
        min-width: 426px;
    }

    @include responsive('medium') {
        max-width: 1066px;
        min-width: 1003px;
    }

    @include responsive('large') {
        //max-width: 75%;
        //min-width: 1000px;
        max-width: 1280px;
    }
}