@use "sass:color";

table.styled {
    border: $border 1px solid;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;

    margin-top: 1em;
    margin-bottom: 1em;

    tr {
        &.table-header {
            text-align: left;
            background-color: color.adjust($border, $lightness: 7.5%);

            @if $theme == "hitchhiker" {
                font-weight: 500;
            }

            th {
                padding: 5px;
                border: $border 1px solid;
            }           
        }
    }

    td {
        //border: $grid 1px solid;
        border: $border 1px solid;
        padding: 5px;
    }
}