
.tooltip {
    position: fixed;
    padding: 6px;
    font-size: 11px;
    font-weight: 500;
    border-radius: 2px;
    white-space: nowrap;
    pointer-events: none;
    z-index: 10001;
    opacity: 0;
    transition: opacity .2s ease-out;

    @if $theme == "hitchhiker" {
        box-shadow: 0 1px 1px rgba(0,0,0,.25);
        background: #000;
        color: #fff;
    } @else {
        box-shadow: 0 1px 2px rgba(0,0,0,.25);
        background: linear-gradient(#333, #000);
        color: #fff;
    }

    &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #000;
    }
}
