/* used on homepage */
/* this should be split into spinner -chaziz 01/31/2026 */
.shelf {
    position: relative;
    padding: 15px 18px;
    border-bottom: 1px solid $border;

    .shelf-header {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        .shelf-icon {
            width: 20px;
            margin-right: 7px;
        }

        .shelf-title {
            font-size: 15px;
            color: $description-text-color;
            font-weight: 500;

            a {
                color: $description-text-color;
                text-decoration: none;

                &:hover {
                    color: $primary;
                }
            }
        }

        .shelf-label {
            font-size: 12px;
            padding-left: 5px;
            color: $lightest-gray;
        }
    }

    .shelf-slider-nav {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 5;
        color: $lightest-gray;
        background: $card-bg;
        width: 15px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &[data-direction="left"] {
            left: 3px;

            &:focus, &:hover {
                left: -22px;
                border-right: none;
            }
        }

        &[data-direction="right"] {
            right: 3px;

            &:focus, &:hover {
                right: -22px;
                border-left: none;
            }
        }

        &:hover {
            width: 40px;
            border: 1px solid $card-border;
            box-shadow: 1px 1px 3px rgba(0,0,0,.1);
            color: $description-text-color;
        }
    }

    .shelf-slider {
        display: grid;
        gap: 10px;
        grid-auto-flow: column;
        grid-auto-columns: minmax(196px, 196px);
        //grid-template-columns: repeat(6, 1fr); //fucks shit up, look into this later
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

    .shelf-upload-item {
        gap: 4px;
        display: flex;
        flex-direction: column;

        .thumbnail {
            display: flex;
            position: relative;
            height: fit-content;

            // this needs to remain hardcoded otherwise its fucked. -chaziz 11/12/2025 
            width: 196px;
            height: 110px;

            img {
                width: 196px;
                height: 110px;
                object-fit: contain;
                background: #f1f1f1;
            }
        }

        // originally known as .vid-info
        .content-wrapper {
            .title {
                max-height: 2.6em;
                line-height: 1.3;
                display: block;
                overflow: hidden;
                margin-bottom: 2px;

                font-size: 13px;
                font-weight: 500;

                a {
                    color: $description-text-color;

                    &:hover {
                        color: $primary;
                    }
                }
            }

            .stats {
                display: flex;
                //gap: 5px;

                .stat {
                    &:not(:first-child)::before {
                        content: '\002022';
                        margin: 0 5px;
                    }
                }
            }

            .stat {
                color: $comment-timestamp;
                font-size: 11px;
                display: block;
                line-height: 1.3em;
                height: 1.3em;
            }

            /*
            // unused?
            .stat-larger {
                @if $theme =="hitchhiker" {
                    color: #999;
                }

                @else {
                    color: $gray-600;
                }

                font-size: 13px;
                display: block;
                line-height: 1.4em;
                height: 1.4em;
            }
            */
        }
    }
}

.upload-list-item {
    //gap: 13px;
    gap: 8px;
    display: flex;
    margin-bottom: 15px;

    .thumbnail {
        display: flex;
        position: relative;
        height: fit-content;

        width: 120px;

        @if $theme =="hitchhiker" {
            height: 68px;
            margin-left: 5px;
        }

        img {
            width: 120px;

            @if $theme =="hitchhiker" {
                height: 68px;
                object-fit: contain;
                background: #f1f1f1;
            }
        }
    }

    // originally known as .vid-info
    .content-wrapper {
        .title {
            max-height: 2.4em;
            line-height: 1.2;
            display: block;
            overflow: hidden;
            margin-bottom: 2px;

            font-size: 13px;
            font-weight: 500;

            a {
                color: $description-text-color;

                &:hover {
                    color: $primary;
                }
            }
        }

        .stat {
            color: $comment-timestamp;
            font-size: 11px;
            display: block;
            line-height: 1.4em;
            height: 1.4em;
        }

        /*
        // unused?
        .stat-larger {
            @if $theme =="hitchhiker" {
                color: #999;
            }

            @else {
                color: $gray-600;
            }

            font-size: 13px;
            display: block;
            line-height: 1.4em;
            height: 1.4em;
        }
        */
    }
}

.thumbnail-badge-container {
    display: flex;
    position: absolute;
    bottom: 2px;
    right: 2px;
    gap: 2px;
    font-weight: 500;
    font-size: 11px;

    .thumbnail-badge {
        background: black;
        opacity: 0.75;
        height: 14px;
        line-height: 14px;
        color: white;
        padding: 0 4px;
    }
}