.upload-list-item {
    //gap: 13px;
    gap: 8px;
    display: flex;
    margin-bottom: 15px;

    .thumbnail {
        display: flex;
        position: relative;
        height: fit-content;

        width: 120px;

        @if $theme =="hitchhiker" {
            height: 68px;
            margin-left: 5px;
        }

        img {
            width: 120px;

            @if $theme =="hitchhiker" {
                height: 68px;
                object-fit: contain;
                background: black;
            }
        }

        .thumbnail-badge-container {
            display: flex;
            position: absolute;
            bottom: 4px;
            right: 4px;
            gap: 2px;

            font-size: 0.85em;

            .thumbnail-badge {
                background: rgba(black, 0.75);
                backdrop-filter: blur(4px);

                height: 18px;

                color: white;
                padding: 0 4px;
            }
        }
    }

    // originally known as .vid-info
    .content-wrapper {
        .title {
            max-height: 2.4em;
            line-height: 1.2;
            display: block;
            overflow: hidden;
            margin-bottom: 2px;

            font-size: 13px;
            font-weight: 500;

            a {
                color: $description-text-color;

                &:hover {
                    color: $primary;
                }
            }
        }

        .stat {
            color: #767676;
            font-size: 11px;
            display: block;
            line-height: 1.4em;
            height: 1.4em;
        }

        /*
        // unused?
        .stat-larger {
            @if $theme =="hitchhiker" {
                color: #999;
            }

            @else {
                color: $gray-600;
            }

            font-size: 13px;
            display: block;
            line-height: 1.4em;
            height: 1.4em;
        }
        */
    }
}