$threshold: 50%;
$red: #CB122E;
$white: #FCFCFC;
$black: #111;
$yellow: #FFBB00;
$blue: #0069B4;
$green: #00A651;
$primary: $blue;
$success: $green;
$warning: $yellow;
$danger: $red;

$light: #f8f8f8;
$dark: #333333;

$form-input: #fff;
$form-input-border: #D3D3D3;

$text-color: #000;

$card-bg: #fff;
$card-border: #eee; // only used on default finalium theme

$description-text-color: #333;
$emphasis-text-color: #444;
$header-text-color: #555;
$light-text-color: #666;
$comment-timestamp: #767676;

$border: #e2e2e2;

$masthead-bg: #fffffff0;
$masthead-border: lightgrey;

$footer-bg: #F1F1F1; //gray-150
$footer-border: #E8E8E8; //gray-250

$guide-bg: #F1F1F1; //gray-150
$guide-border: #E8E8E8; //gray-250

$body-bg: #F8F8F8;

$likesaber-gray: #D3D3D3;

$primary: $blue;
$secondary: $light;
$success: $green;
$warning: $yellow;
$danger: $red;

$nav-selected: $primary;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "warning": $warning,
    "danger": $danger,
);

// https://medium.com/@jainbhavukspeaks/leveraging-scss-mixins-to-create-responsive-layouts-the-easy-way-5bbe4080cb15

$breakpoints: (
    "tiny": (300px,
    ),
    "small": (500px,
    ),
    "medium": (950px,
    ),
    "large": (1250px,
    ),
);
//

$font: "Roboto", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;

$mastheadwidth: 1200px;