$threshold: 50%;
$red: #CB122E;
$white: #FCFCFC;
$black: #111;
$yellow: #FFBB00;
$blue: #0069B4;
$green: #00A651;
$primary: $blue;
$success: $green;
$warning: $yellow;
$danger: $red;

$light: #f8f8f8;
$dark: #333333;

$form-input: #fff;
$form-input-border: #D3D3D3;

$text-color: #000;

$card-bg: #fff;
$card-border: #eee; // only used on default finalium theme

// these variables should be renamed to be more generic, 
// i dont know wtf was i thinking when i named these -chaziz 1/10/2026
$description-text-color: #333;
$emphasis-text-color: #444;
$header-text-color: #555;
$light-text-color: #666;
$comment-timestamp: #767676;
$lightest-gray: #999999;

$border: #e2e2e2;

$masthead-bg: #fffffff0;
$masthead-border: #D3D3D3; // lightgrey

$footer-bg: #F1F1F1; //gray-150
$footer-border: #D3D3D3; //gray-250

$guide-bg: #F1F1F1;
$guide-border: #D3D3D3; // lightgrey

$menu-bg: #ffffff;
$menu-border: #c5c5c5;

$body-bg: #F8F8F8;

$likesaber-gray: #D3D3D3;

$primary: $blue;
$secondary: $light;
$success: $green;
$warning: $yellow;
$danger: $red;

$accent: $primary;

$button-colors: (
    "primary": $primary,
    "default": $secondary,
    "destructive": $danger,
    "dark": $dark,
    "light": $light,
    // "payment": $green,
);

$banner-colors: (
    "error": $danger,
    "warning": $warning,
    "success": $success,
    "info": $primary,
);

// https://medium.com/@jainbhavukspeaks/leveraging-scss-mixins-to-create-responsive-layouts-the-easy-way-5bbe4080cb15

$breakpoints: (
    "tiny": (
        300px,
    ),
    "small": (
        425px,
    ),
    "medium": (
        656px,
    ),
    "large": (
        1294px,
    ),
);
//

$font: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

$mastheadwidth: 1200px;