@mixin button-opacity() {
    opacity: 50%;

    &:hover {
        opacity: 60%;
    }

    &:active {
        opacity: 80%;
    }
}

// originally .viewcount
.watch-view-count {
    color: $light-text-color;

    @if $theme =="hitchhiker" {
        margin-bottom: 2px;
    }

    @else {
        margin-bottom: 4px;
    }

    font-size: 19px;
    line-height: 24px;
    max-height: 24px;
    margin-bottom: 2px;
}

.watch-creator {
    display: flex;
    gap: 10px;
    margin-bottom: 6px;

    .watch-creator-info {
        display: flex;
        gap: 8px;
        flex-direction: column;

        .watch-creator-userlink {
            @if $theme =="hitchhiker" {
                .userlink {
                    color: $description-text-color;
                    font-weight: 500;
                }
            }
        }
    }
}

#watch-not-available {
    padding: 35px;
    text-align: center;
    color: $light-text-color;
    position: relative;
}

.watch-panel-close-button {
    position: absolute;
    top: 3px;
    right: 3px;

    width: 30px;
    height: 30px;
    padding: 0 10px;

    @include button-opacity();
}

.watch-header {
    h1 {
        font-size: 24px;
    }

    padding-bottom: 5px;
    min-height: 150px;

    .watch-user-header {
        padding: 10px 0 0 0;
    }

    hr.watch-info-divider {
        margin: 0 0 5px 0;
    }

    .watch-action-buttons {
        display: flex;

        .watch-sentiment-actions {
            display: flex;
            .button {
                padding-right: 0;
            }
        }

        .watch-secondary-actions {
            flex: 1;
            display: flex;
            position: relative;
            left: -10px;
        }

        .button {
            @include button-opacity();
        }

        // this should be in _buttons.scss but i dont wanna fuck with !important
        .button-like {
            &.button-toggled {
                opacity: 100%;
                color: $primary;
            }
        }

        .button-dislike {
            &.button-toggled {
                opacity: 100%;
                color: $dark;
            }
        }
    }
}

.watch-view-info {
    align-self: end;
}

.subscribe-count {
    padding: 0 6px;
    border: 1px solid #ccc;
    color: red;
    font-size: 12px;
    text-align: center;

    @if $theme =="hitchhiker" {
        line-height: 22px;
    }

    @else {
        line-height: 24px;
    }

    display: inline-block;
}

/// "Likesaber" for watch page \\\
.likesaber {
    width: 160px;
    height: 2px;
    background-color: $likesaber-gray;
    float: right;

    .like {
        float: left;
        height: 2px;
        background-color: $primary;
    }
}

// formerly #About
.watch-description {
    color: $description-text-color;
    line-height: 17px;

    p {
        &:first-of-type {
            margin-top: 0;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    a {
        color: inherit;
    }

    &:hover,
    &:focus {
        a {
            color: $primary;
        }
    }
}