@mixin button-opacity() {
    opacity: 50%;

    &:hover {
        opacity: 60%;
    }

    &:active {
        opacity: 80%;
    }
}

.upload-container {
    text-align: center;
    background: $card-bg;

    margin-bottom: 10px;

    .img-upload {
        padding: 1rem;

        @if $theme =="hitchhiker" {
            filter: drop-shadow(0 1px 2px rgba(black, .1));
        }

        @else {
            filter: drop-shadow(0 2px 2px rgba(black, 0.25));
        }
    }
}

.watch-error {
    color: #fff;
    background: #262626 linear-gradient(#383838,#131313);
    text-shadow: 0 1px 1px #000;
    padding: 24px 20px 50px 20px;
    aspect-ratio: 16 / 9;
    display: flex;
    flex-direction: column;

    h1 {
        margin: 1px 0 -1px 5px;
        font-size: 19px;
    }

    hr {
        border-color: #888;
        margin: 15px 0;
    }

    p {
        margin: 0 0 0 5px;
    }

    .icon {
        align-self: center;
        display: grid;
        flex-grow: 1;
        margin-top: 30px;
    }
}

// originally .viewcount
.watch-view-count {
    color: $light-text-color;
    margin-bottom: 2px;
    font-size: 19px;
    line-height: 24px;
    max-height: 24px;
}

.watch-creator {
    display: flex;
    gap: 10px;
    margin-bottom: 6px;

    .watch-creator-info {
        display: flex;
        gap: 8px;
        flex-direction: column;

        .watch-creator-userlink {
            @if $theme =="hitchhiker" {
                .userlink {
                    color: $description-text-color;
                    font-weight: 500;
                }
            }
        }

        .watch-creator-subscribe {
            display: flex;
            align-items: center;
        }
    }
}

#watch-not-available {
    padding: 35px;
    text-align: center;
    color: $light-text-color;
    position: relative;
}

.watch-panel-close-button {
    position: absolute;
    top: 3px;
    right: 3px;

    width: 30px;
    height: 30px;
    padding: 0 10px;

    color: #7F7F7F;

    @include button-opacity();
}

.watch-creator-bar {
    display: flex;
    .watch-creator-bar-left {
        flex-grow: 1;
    }
}

.watch-header {
    h1 {
        font-size: 20px;
    }

    padding-bottom: 0px;
    min-height: 150px;

    .watch-user-header {
        padding: 10px 0 0 0;
    }

    hr.watch-info-divider {
        margin: 0 0 5px 0;
    }

    .watch-action-buttons {
        display: flex;

        .watch-sentiment-actions {
            display: flex;

            .button {
                padding-right: 0;
            }
        }

        .watch-secondary-actions {
            flex: 1;
            display: flex;
            position: relative;
            left: -10px;

            // temporary
            .menu-item-button {
                .icon {
                    color: black;
                    opacity: 50%;
                    //@include button-opacity();
                }

                &:hover {
                    .icon {
                        opacity: 60%;
                    }
                }

                &:active {
                    .icon {
                        opacity: 80%;
                    }
                }   
            }
        }

        .button {
            @include button-opacity();
        }

        // this should be in _buttons.scss but i dont wanna fuck with !important
        .button-like {
            &.button-toggled {
                opacity: 100%;
                color: $primary;
            }
        }

        .button-dislike {
            &.button-toggled {
                opacity: 100%;
                color: $dark;
            }
        }
    }
}

.watch-view-info {
    align-self: end;
}

.follow-count {
    margin-left: -2px;
    padding: 0 6px;
    border: 1px solid #ccc;
    border-radius: 0 2px 2px 0;
    background: #fafafa;
    color: #737373;
    font-size: 11px;
    text-align: center;
    height: 24px;
    line-height: 22px;

    display: inline-block;
}

/// "Likesaber" for watch page \\\
.likesaber {
    top: 1px;
    position: relative;
    
    width: 160px;
    height: 2px;
    background-color: $likesaber-gray;
    float: right;

    .like {
        float: left;
        height: 2px;
        //@if $theme == "hitchhiker" {
            background-color: $primary;
        //} @else {
            //background-color: $green;
        //}
    }
}

// formerly #About
.watch-description {
    color: $description-text-color;
    line-height: 17px;

    p {
        &:first-of-type {
            margin-top: 0;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    a {
        color: inherit;
    }

    &:hover,
    &:focus {
        a {
            color: $primary;
        }
    }
}