$theme: "hitchhiker";

/// Functions \\\
@import "_functions";
/// Variables \\\
@import "_variables";

$fullscreen-banner-height: 35px;

// override variables

$threshold: 65%;
$red: #cc181e;
$white: #FCFCFC;
$black: #000;
$yellow: #ffbf00;
$blue: #167ac6;
$green: #61ad15;


$primary: $blue;
$success: $green;
$warning: $yellow;
$danger: $red;

$light: #666;
$dark: #333;

$card-bg: #fff;
$card-border: #d3d3d3;

$masthead-bg: #ffffff;
$masthead-border: #e8e8e8;

$footer-bg: #ffffff;
$footer-border: #e8e8e8;

$guide-bg: #ffffff;
$guide-border: #e8e8e8;

$body-bg: #f1f1f1;

$likesaber-gray: #cccccc;

$primary: $blue;
$secondary: #f8f8f8;
$success: $green;
$warning: $yellow;
$danger: $red;

$accent: #CC181E;

$theme-colors: (
    "accent": $accent,
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "warning": $warning,
    "danger": $danger,
    "dark": $dark,
);

/// Imports \\\
@import "_imports";