$theme: "hitchhiker";

/// Functions \\\
@import "_functions";
/// Variables \\\
@import "_variables";

$fullscreen-banner-height: 35px;

// override variables

$threshold: 65%;
$red: #cc181e;
$white: #FCFCFC;
$black: #000;
$yellow: #ffbf00;
$cyan: #1778b8;
$blue: #167ac6;
$green: #61ad15;


$primary: $blue;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;

$gray-100: #F9F9F9;
$gray-150: #F1F1F1;
$gray-200: #EEEEEE;
$gray-250: #E8E8E8;
$gray-300: #E2E2E2;
$gray-400: #D3D3D3;
$gray-450: #CCCCCC;
$gray-500: #B4B4B4;
$gray-650: #999999;
$gray-600: #858585;
$gray-650: #666666;
$gray-700: #4F4F4F;
$gray-800: #393939;
$gray-850: #333333;
$gray-900: #242424;

$light: #f8f9fa; // todo: #666
$dark: #343a40; // todo: #ccc

$card-bg: #fff;
$card-border: #e2e2e2;

$masthead-bg: #ffffff;
$masthead-border: #e8e8e8;

$footer-bg: #ffffff;
$footer-border: #e8e8e8;

$guide-bg: #ffffff;
$guide-border: #e8e8e8;

$body-bg: #f1f1f1;

$likesaber-gray: #cccccc;

$primary:       $blue;
$secondary:     #f8f8f8;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$gray-dark: 	$gray-800;

$theme-colors: (
        "primary":    $primary,
        "secondary":  $secondary,
        "success":    $success,
        "info":       $info,
        "warning":    $warning,
        "danger":     $danger,
        "light":      $gray-100,
        "dark":      $gray-dark,
);

$breakpoints: (
        "tiny": (
                300px,
        ),
        "small": (
                425px,
        ),
        "medium": (
                656px,
        ),
        "large": (
                1294px,
        ),
);

/// Imports \\\
@import "_imports";