$theme: "dark";

@import "_functions";
@import "_variables";

$threshold: 50%;
$teal: #468aca;
$red: #ce1818;
$white: #FCFCFC;
$black: #111;
$purple: #9c35ef;
$pink: #ff23b1;
$orange: #ff8800;
$yellow: #ffd104;
$cyan: #1778b8;
$blue: #297fd6;
$green: #74a60a;
$aqua: #20c997;

$primary: $blue;
$secondary: #222;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;

$light: #000;
$dark: #fff;

$form-input: #2d2d2d;
$form-input-border: #555555;

$text-color: #ffffff;

$card-bg: #111111;
$card-border: #333333;

$description-text-color: #cccccc;
$emphasis-text-color: #eeeeee;
$header-text-color: #dddddd;
$light-text-color: #aaaaaa;

$border: #333333;

$masthead-bg: #171717f0;
$masthead-border: #333333;

$footer-bg: #252525;
$footer-border: #3a3a3a;

$guide-bg: #252525;
$guide-border: #3a3a3a;

$body-bg: #000;

$likesaber-gray: #555555;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "warning": $warning,
    "danger": $danger,
);

/// Imports \\\
@import "_imports";