{% extends "_layout.twig" %}

{% block content %}
    <div class="grid">
        <div class="col-2">
            <div class="card">
                <ul class="nav">
                    <li class="title">Account Settings</li>
                </ul>
            </div>
        </div>
        <div class="col-10">
            {% block accountcontent %}
            {% endblock %}
        </div>
    </div>
{% endblock %}