{% extends "_layout.twig" %}

{% set pin_guide = true %}

{% block content %}
<div class="banner banner-warning">There is currently no functionality implemented.</div>
<div class="card card-body">
    <h1>{{ data.title }}</h1>
    {% for upload in uploads %}
        {% include "components/upload_box.twig" %}
    {% endfor %}
</div>
{% endblock %}