{% extends "_layout.twig" %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h1>Homepage</h1>
            <p>To be determined</p>
        </div>
    </div>
{% endblock %}