{% extends "_layout.twig" %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="grid">
                <div class="col-6">
                    one upload
                </div>
                <div class="col-6">
                    three uploads
                </div>
            </div>
            <hr>
            <h1>Recent Uploads</h1>
            <div>some bullshit here</div>
        </div>
    </div>
{% endblock %}