{% extends "_layout_profile.twig" %}
{% block title %}{{ data.displayname }}{% endblock %}

{% set selected_tab = "home" %}

{% block profile_content %}
    <div class="card">
        <div class="card-body">
            <div>Featured upload</div>
            <hr>
            <p>Content goes here.</p>
        </div>
    </div>
{% endblock %}