{% extends "_layout_profile.twig" %}

{% set show_related_channels = true %}

{% set profile_picture = profile_picture(data.id) %}
{% set banner_picture = profile_banner(data.id) %}

{% set title = data.username %}

{% set selected_tab = "about" %}

{% block profile_content %}
    <div class="card">
        <div class="card-has-padding profile-about-container">
            <div class="about-stats">
                {# TODO #}
                <div><strong>{{ data.followers | format_number() }}</strong> followers • <strong>{{ data.views | format_number() }}</strong> views</div>
                <div>Joined {{ data.joined | format_date('medium', 'none') }}</div>
            </div>
            {% if data.about | trim is not empty %}
                <h2 class="about-header">Description</h2>
                <div>
                    {{ data.about | markdown_user_written }}
                </div>
            {% endif %}
            {#
            <hr>
            <h2>Details</h2>
            <p>the</p>
            #}
        </div>
    </div>
{% endblock %}