{% extends "_layout_profile.twig" %}

{% if show_incomplete_features %}
{% set show_related_channels = true %}
{% endif %}

{% set title = common.username %}

{% set selected_tab = "about" %}

{% block profile_content %}
    <div class="card">
        <div class="card-has-padding profile-about-container">
            <div class="about-stats">
                {# TODO #}
                <div><strong>{{ common.followers | format_number() }}</strong> followers • <strong>{{ common.views | format_number() }}</strong> views</div>
                <div>Joined {{ common.joined | format_date('medium', 'none') }}</div>
            </div>
            {% if data.about | trim is not empty %}
                <h2 class="about-header">Description</h2>
                <div>
                    {{ data.about | markdown_user_written }}
                </div>
            {% endif %}
            {#
            <hr>
            <h2>Details</h2>
            <p>the</p>
            #}
        </div>
    </div>
{% endblock %}