{% extends "_layout_profile.twig" %}

{% if show_incomplete_features %}
{% set show_related_channels = true %}
{% endif %}

{% set title = common.username %}

{% set selected_tab = "journals" %}

{% set total_pages = (count / items_per_page) | round(0, 'ceil') %}
{% set current_page = page %}

{% block profile_content %}
    <div class="card">
        <div class="card-has-padding">
            {% for journal in journals %}
                {% include "components/journal.twig" %}
            {% else %}
                <p>No journals.</p>
            {% endfor %}
        </div>

        {% set le_url = '/posts/' ~ user ~ '?page=%s' %}

        {{ pagination(count, items_per_page, le_url, current_page) }}
    </div>
{% endblock %}