{% extends "_layout_profile.twig" %}

{% set show_related_channels = true %}

{% set profile_picture = profile_picture(data.id) %}
{% set banner_picture = profile_banner(data.id) %}

{% block title %}{{ data.displayname }}{% endblock %}

{% set total_pages = (data.count / items_per_page) | round(0, 'ceil') %}
{% set current_page = page %}

{% if type == 'recent' %}
    {% set le_url = 'user/' ~ data.username ~ '/uploads?page=%s' %}
{% else %}
    {% set le_url = 'user/' ~ data.username ~ '/uploads?type=' ~ type ~ '&page=%s' %}
{% endif %}

{% set selected_tab = "uploads" %}

{% block profile_content %}
    <div class="card">
        <div class="card-body">
            {% for upload in data.uploads %}
                {% include "components/upload_box_small.twig" %}
            {% else %}
                <p>There are currently no uploads by {{ data.displayname }}</p>
            {% endfor %}

            {{ pagination(data.count, items_per_page, le_url, current_page) }}
        </div>
    </div>
{% endblock %}