{% extends "_layout_profile.twig" %}

{% if show_incomplete_features %}
{% set show_related_channels = true %}
{% endif %}

{% set title = common.username %}

{% set selected_tab = "home" %}

{% block profile_content %}
    <div class="card">
        <div class="card-has-padding">
            {% if data.featured_upload %}
                <div class="profile-featured-upload">
                    <div class="upload-container">
                        {{ upload_view((data.featured_upload)) }}
                    </div>
                    <div class="upload-info">
                        <div class="content-wrapper">
                            <h3 class="title"><a href="/watch?v={{ data.featured_upload.id }}">{{ data.featured_upload.title }}</a></h3>
                        </div>
                    </div>
                </div>
                <hr>
            {% endif %}
            {% for upload in data.uploads %}
                {% include "components/upload_box.twig" %}
            {% else %}
                <p>There are currently no uploads by {{ common.displayname }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}