{% extends "_layout_profile.twig" %}

{% if show_incomplete_features %}
{% set show_related_channels = true %}
{% endif %}

{% set title = common.username %}

{% set total_pages = (data.count / items_per_page) | round(0, 'ceil') %}
{% set current_page = page %}

{% if type == 'recent' %}
    {% set le_url = 'user/' ~ common.username ~ '/uploads?page=%s' %}
{% else %}
    {% set le_url = 'user/' ~ common.username ~ '/uploads?type=' ~ type ~ '&page=%s' %}
{% endif %}

{% set selected_tab = "uploads" %}

{% block profile_content %}
    <div class="card">
        <p>here shall lie the sort buttons...</p>
        <hr>
        <div class="shelf-channels-browse">
            {% for upload in data.uploads %}
                {% include "components/lockup.twig" with { 
                    type: "grid",
                    channels_browse: true,
                } %}
            {% else %}
                <p>There are currently no uploads by {{ data.displayname }}</p>
            {% endfor %}
        </div>
        {{ pagination(data.count, items_per_page, le_url, current_page) }}
    </div>
{% endblock %}