{% extends "_layout.twig" %}

{% set title = localize('search_results_for', data.query) %}

	{% block content %}
        <div class="card card-body">
            {% for upload in data.uploads %}
                {% include "components/upload_box.twig" %}
            {% else %}
                <div>No results could be found.</div>
            {% endfor %}
        </div>

        {% set le_url = 'search?query=' ~ data.query ~ '&page=%s' %}

        {{ pagination(data.count, items_per_page, le_url, current_page) }}

        <br><br>
    {% endblock %}