{% extends "_layout.twig" %}

{% block content %}
<div class="card card-body">
    <p>Before doing anything (eg: uploading), you must first be verified.</p>
    <p>Currently, this can only be done via joining the official <a href="https://discord.gg/jG3DaRf6Rm">FulpTube Discord server</a>.</p>
    <p>We are currently <a href="{{ domain }}/read/280">looking for alternate options</a> regarding this. We apologize for the inconvenience.</p>
</div>
{% endblock %}
