{% extends "_layout.twig" %}

{% block content %}
<div class="card card-body">
    <p>Before doing anything, you must first verify yourself to the {{ website_branding.name }} staff team.</p>
    <p>Currently, this can only be done via joining the official 
        <a href="https://discord.gg/jG3DaRf6Rm">Bluffingo (Gamerappium 9) Discord server</a>.</p>
    <p>We apologize for the inconvenience.</p>
</div>
{% endblock %}
