{% extends "_layout.twig" %}

{% block content %}
<div class="watch-grid">
    <div class="col-left">
        <div class="watch-error">
            <h1>{{ localize(error) }}</h1>
            <hr>
            <p>Sorry about that.</p>
        </div>
    </div>
</div>
{% endblock %}