{% extends "_layout.twig" %}

{% block content %}
<div class="watch-grid">
    <div class="col-left">
        <div class="watch-error">
            <div class="watch-error-message">
                <h1>{{ localize(error) }}</h1>
                <hr>
                <p>Sorry about that.</p>
            </div>
            {{ icon('meh', [140, 100]) }}
        </div>
    </div>
</div>
{% endblock %}