<div class="card">
    <div class="card-has-padding">
        <div id="comments">
            <div class="action-panel-loading">
                <div class="spinner">
                    <span class="spinner-img sprite" title="{{ localize("loading") }}"></span>
                    {{ localize("loading") }}
                </div>
            </div>
        </div>
    </div>
</div>